<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista Videogiochi</title>
</head>

<body>
    <h1>Lista dei Videogiochi</h1>

    <!-- Tabella se ci sono videogiochi -->
    <table th:if="${videogames != null and !videogames.empty}">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Opzioni Videogioco</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="videogame : ${videogames}" th:object="${videogame}">
                <td>[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td>[[*{price}]]€</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p th:if="${videogames == null or videogames.empty}" th:text="'No videogames available'"></p>

</body>

</html>