<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista Videogiochi</title>
</head>

<body>
    <h1>Lista dei Videogiochi</h1>
    <h2>
        <a th:href="@{/videogame/create}">Crea Videogioco</a>
    </h2>

    <table th:if="${videogames != null and !videogames.empty}">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Opzioni Videogioco</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="videogame : ${videogames}" th:object="${videogame}">
                <td>[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td>[[*{price}]]€</td>
                <td>
                    <a th:href="@{/videogame/{id}(id=${videogame.id})}">Dettagli</a>
                    <a th:href="@{/videogame/{id}/edit(id=${videogame.id})}">Modifica Videogame</a>

                    <form action="#" th:action="@{'/videogame/{id}/delete'(id=${videogame.id})}" method="post">
                        <button type="submit" id="submitButton">Elimina Videogame</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <p th:if="${videogames == null or videogames.empty}" th:text="'No videogames available'"></p>

</body>

</html>