<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Videogame Show</title>
</head>

<body>
    <h1>Videogame singolo</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${videogame}">
                <td>[[*{name}]]</td>
                <td>[[*{description}]]</td>
                <td>[[*{price}]] </td>
            </tr>
        </tbody>

    </table>

    <h2>A che console appartiene</h2>


    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data di Rilascio</th>
            </tr>
        </thead>
        <tbody th:object="${videogame}">
            <tr th:each="console : *{consoles}">
                <td>[[${console.name}]]</td>
                <td>La console è stata rilasciata: [[${console.releaseDate}]]</td>
            </tr>
        </tbody>


    </table>


</body>

</html>